#main{
 display: flexbox;

}
#outer{
   
    width: 100%;
}
.title{
    color: rgb(0,128,128);
    font-size: 50PX;
    font-weight: 600;
    text-align: center;
}
#out{
    margin-left: 5%;
    height: 10%;
    width: 80%;
 
}
#ma{
   margin-left: 5%;
    height: 10%;
    width: 40%;
}
button{
    border-radius: 10%;
background-color: white;
    font-size: xx-large;
    margin: 1%;
width: 20%;
height: 15%;
border: none;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
   
}
button:hover{
    cursor: pointer;
    background-color:darkgrey;
}
#body{
    padding-top: 5%;
 
   padding-bottom: 10%;
    padding-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left: 30%;
    width: 35%;


}
input{
    font-size: xx-large;
    border: green 2px ridge;
}

.b{
    background-color: black;
    color: white;
}
.r{
    background-color: red;
    color: white;
}